@import "../../breakpoint";


.login {
  font-size: 1.4rem;
  text-align: center;
  margin-top: 2rem;
  @include md {
    max-width: 60%;
    margin: 2rem auto;
  }
  @include lg {
    text-align: right;
  }

  .submitBtn {
    margin-top: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    button{
      width: 90%;
      font-size: 1.4rem;
    }
    @include lg {
      button {
        font-size: 1.4rem;
        width: 25%;
      }
    }
  }
}