@import "src/variable";
.formGroup {
  padding: 1rem;
  width: 100%;

  label {
    display: block;
    margin-bottom: 5px;
    font-size: 1.6rem;
  }

  select {
    height: 100%;
    width:20rem;
    font-size: 1.6rem;
    padding: 1rem;
    border: 1px solid $secondary;
    border-radius: .8rem;

    &:focus {
      outline-color: $info;
    }
  }
}
