
/*Color*/
$primary: #dd4163;
$secondary: #1f3562;
$success: #28a745;
$error: #dc3545;
$warning: #ffc107;
$info: #6896ff;
//$light: #EAEAE9;
$dark: #343a40;

/*Button Sizes*/
$small: scale(0.8);
$normal: scale(1);
$large: scale(1.1);
$xlarge: scale(1.5);
$xxlarge: scale(2);

/*radius*/
$border-radius: 0.5rem;

